<div class="sidebar">
  <div class="logo">
    <img src="./../../assets/dashbord/logo.png" alt="">
  </div>
  <ul>
    <li> <a href="#"><img src="./../../../assets/dashbord/Home_fill.png"></a></li>
    <li> <a href="#"><img src="./../../../assets/dashbord/Vector.png"></a></li>
    <li> <a href="#"><img src="./../../../assets/dashbord/Frame 23.png"></a></li>
    <li> <a href="#"><img src="./../../../assets/dashbord/Vector (2).png"></a></li>
    <li> <a href="#"><img src="./../../../assets/dashbord/view_list.png"></a></li>
    <li><a href="#"><img src="./../../../assets/dashbord/mailebox.png"></a></li>
    <li><a href="#"><img src="./../../../assets/dashbord/bar_chart.png"></a></li>
  </ul>
</div>
