<app-sidebar></app-sidebar>
<div class="das-container">

  <div class="row">
    <div class="col-12 col-md-3 col-sm-12">
      <app-mail-list></app-mail-list>
    </div>
    <div class="col-12 col-md-6 col-sm-12"></div>
    <div class="col-12 col-md-3 col-sm-12">
      <div class="lead-details">
        <div class="heading">
          <span>Lead Details</span>

        </div>
        <div class="lead-data">
          <div class="data-grp">
            <label>Name</label>
            <span>Orlando</span>
          </div>
          <div class="data-grp">
            <label>Email ID</label>
            <span>orlando&#64;gmail.com</span>
          </div>
          <div class="data-grp">
            <label>Linkedin</label>
            <span>linkedin.com/in/timvadde/</span>
          </div>
          <div class="data-grp">
            <label>Company Name</label>
            <span>Reachinbox</span>
          </div>

        </div>

        <div class="activities">

          <div class="heading">
            <span>Activities</span>

          </div>
          <div class="campaign-details">
            <div class="campaign-heading">
              <span>Campaign Name</span>
            </div>
            <div class="step-section">
              <div class="step-data">

                <div class="step-heading">
                  Step 1: Email
                </div>
                <div class="step-email-details">
                  <img src="./../../../assets/dashbord/send.png" alt=""> Sent 3rd, Feb
                </div>
              </div>
              <div class="step-data">

                <div class="step-heading">
                  Step 1: Email
                </div>
                <div class="step-email-details">
                  <img src="./../../../assets/dashbord/send.png" alt=""> Sent 3rd, Feb
                </div>
              </div>
              <div class="step-data">

                <div class="step-heading">
                  Step 1: Email
                </div>
                <div class="step-email-details">
                  <img src="./../../../assets/dashbord/send.png" alt=""> Sent 3rd, Feb
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
