<div class="mail-list-continer">
  <div class="header">


    <select class="" aria-label="Default select example">
      <option selected>All Inbox(s)</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <div class="input-group mb-3">

      <input type="text" class="custom-input" placeholder="Search" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>

    <div class="reply">
      <span><h6> New Replies</h6></span>
      <span>
        <select name="" id="">
          <option value="">Newest</option>
          <option value="">Oldest</option>
        </select>
      </span>
    </div>
  </div>

  <div class="mail-list-section">

    <div class="mail-card">
      <div class="mailId">
        <span>Beata&#64;gmail.com</span> <span>Mar 7</span>
      </div>
      <div class="msg">I've tried a lot and .</div>
      <div class="btns">
        <a > <img src="./../../../../assets/status/Frame 2087326893.png" alt=""></a>
        <a > <img src="./../../../../assets/status/Frame 2087327010.png" alt=""></a>
      </div>
    </div>



    <div class="mail-card">
      <div class="mailId">
        <span>Beata&#64;gmail.com</span> <span>Mar 7</span>
      </div>
      <div class="msg">I've tried a lot and .</div>
      <div class="btns">
        <a > <img src="./../../../../assets/status/Frame 2087326893.png" alt=""></a>
        <a > <img src="./../../../../assets/status/Frame 2087327010.png" alt=""></a>
      </div>
    </div>

    <div class="mail-card">
      <div class="mailId">
        <span>Beata&#64;gmail.com</span> <span>Mar 7</span>
      </div>
      <div class="msg">I've tried a lot and .</div>
      <div class="btns">
        <a > <img src="./../../../../assets/status/Frame 2087326893.png" alt=""></a>
        <a > <img src="./../../../../assets/status/Frame 2087327010.png" alt=""></a>
      </div>
    </div>

    <div class="mail-card">
      <div class="mailId">
        <span>Beata&#64;gmail.com</span> <span>Mar 7</span>
      </div>
      <div class="msg">I've tried a lot and .</div>
      <div class="btns">
        <a > <img src="./../../../../assets/status/Frame 2087326893.png" alt=""></a>
        <a > <img src="./../../../../assets/status/Frame 2087327010.png" alt=""></a>
      </div>
    </div>

  </div>
</div>
